<launch>
    <!-- start the mapper node -->
    <node pkg="lab3" type="mapper.py" name="map_node"/>
    
    <!-- start the marker node -->
    <node pkg="lab3" type="marker_persuit.py" name="marker_node_pp" output="screen"/>

    <!-- start the pp_controller node -->
    <node pkg="lab3" type="pp_controller.py" name="pp_node_pp"/>

    <!-- start the PP controller node -->
    <!-- node pkg="lab3" type="pp_controller.py" name="pp_contoller_node"/> -->

    <!-- start the PID node -->
    <!--node pkg="lab3" type="pid_controller.py" name="pid_node"/> -->
    
    <!-- launch a launch file as part of this launch file -->
    <!-- start gazebo and rviz -->
    <include file="$(find audubon-gazebo)/launch/lab3_world.launch"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lab3)/rviz/lab3_pp.rviz"/>
</launch>